#/bin/bash

# Stop sshd service
systemctl stop sshd

# Disable root login
sed -i 's/PermitRootLogin yes/PermitRootLogin no/g' /etc/ssh/sshd_config

# Disable password login
echo "PasswordAuthentication no" >> /etc/ssh/sshd_config

# Remove existing host keys
/bin/rm -v /etc/ssh/ssh_host_*

# Setup a new ssh_host_rsa_key
cat > /etc/ssh/ssh_host_rsa_key <<- EOM
{{ ssh_host_private_key }}
EOM

# Setup a new ssh_host_rsa_key.pub
cat > /etc/ssh/ssh_host_rsa_key.pub <<- EOM
{{ ssh_host_public_key }}
EOM

# Setup a new trusted-ssh-ca.pem
cat > /etc/ssh/trusted-ssh-ca.pem <<- EOM
{{ vault_ssh_ca_certificate.content }}
EOM

# Setup a new ssh_host_rsa_key-cert.pub
cat > /etc/ssh/ssh_host_rsa_key-cert.pub <<- EOM
{{ ssh_host_certificate.json.data.signed_key }}
EOM

chmod 400 /etc/ssh/ssh_host_rsa_key-cert.pub
chmod 400 /etc/ssh/ssh_host_rsa_key
chmod 400 /etc/ssh/trusted-ssh-ca.pem

# Setup the sshd_config
echo "TrustedUserCAKeys /etc/ssh/trusted-ssh-ca.pem" >> /etc/ssh/sshd_config
echo "HostKey /etc/ssh/ssh_host_rsa_key" >> /etc/ssh/sshd_config
echo "HostCertificate /etc/ssh/ssh_host_rsa_key-cert.pub" >> /etc/ssh/sshd_config

useradd shellwhale --shell /bin/bash --create-home
usermod -aG sudo shellwhale
echo "shellwhale ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers

systemctl restart sshd
